<div class="wrapper">
    <!-- <app-nav></app-nav> -->
    <!-- <div app-nav></div> -->
     <div class="app-nav"></div>
    <app-header></app-header>
    <app-notification></app-notification>
    <app-filter [allProducts]="getAllProducts()" [availableProducts] = "getAvailableProducts()" [unavailableProducts]="getUnAvailableProducts()"
    (filterRadioButtonSelectionchanged)="onFilterRadioButtonChanged($event)"
    
    ></app-filter>
    <app-search></app-search>
    <app-products [products]="selectedProducts()"></app-products>
</div>